ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  background-origin: border-box;
  border-radius: 100px;
  margin-left: 6%;
  margin-right: 10%;
  justify-content: center;
  color: white;
  /* background-color: aliceblue; */
  background: linear-gradient(135deg, pink, aliceblue);
  font-family: cursive;
  font-size: x-large;
}

li {
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
  /* color: white; */
}

.button {
  border-radius: 10px;
  margin-left: 2%;
  width: 90px;
  height: 50px;
  margin-top: 40px;
  align-items: end;
}

.icon {
  height: 5%;
  width: 8%;
  margin-left: 0%;
  margin-top: 15px;
  border: solid black;
  border-radius: 50%;
}

.tailored-text {
  background: linear-gradient(135deg, aliceblue, aqua, aliceblue);
  margin-left: 2%;
  font-family: cursive;
  font-size: larger;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(228, 24, 24, 0.1);
  color: black;
}
