img {
  width: 400px;
  height: 400px;
  margin-top: 30px;
  margin-left: 60px;
  border: 1px solid black;
  border-radius: 5%;
}

h1 {
  color: blueviolet;
  margin-left: 20%;
  margin-top: 5%;
  font-size: 60px;
}

h2 {
  color: black;
  margin-left: 5%;
  font-size: 30px;
}

.f h1 {
  color: green;
  margin-left: 20%;
  margin-top: 5%;
  font-size: 80px;
}

.f li {
  color: blue;
  font-size: 50px;
  margin-left: 20%;
}

.a h1 {
  color: green;
  margin-left: 30%;
  margin-top: 5%;
  font-size: 60px;
}

.a h2 {
  color: black;
  margin-left: 30%;
  font-size: 30px;
}

.box {
  display: flex;
}

form {
  width: 400px;
  margin-left: 10%;
  margin-bottom: 4%;
  margin-top: -10%;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

span {
  margin-left: 20%;
  margin-top: 5%;
}

.input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  width: calc(100% - 22px);
  height: 100px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #45a049;
}

.boxs {
  width: 1000px;
  margin-left: 15%;
  margin-top: 10%;
  padding: 10px;
  margin-bottom: 10%;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.note {
  color: black;
  text-decoration: underline;
  font-size: 20px;
}

.num {
  color: black;
  font-size: 40px;
}

.code {
  color: aqua;
  font-size: 80px;
  margin-left: 30%;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  background-origin: border-box;
  border-radius: 100px;
  margin-left: 6%;
  margin-right: 10%;
  justify-content: center;
  color: white;
  background: linear-gradient(135deg, aqua, aliceblue);
  font-family: cursive;
  font-size: x-large;
}

.navbar li {
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}

.button {
  border-radius: 10px;
  margin-left: 2%;
  width: 90px;
  height: 50px;
  margin-top: 40px;
  align-items: end;
}

.icon {
  height: 5%;
  width: 8%;
  margin-left: 0%;
  margin-top: 15px;
  border: solid black;
  border-radius: 50%;
}

.tailored-text {
  background: linear-gradient(135deg, blue, aqua);
  margin-left: 2%;
  font-family: cursive;
  font-size: larger;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(228, 24, 24, 0.1);
  color: black;
}

.c {
  margin-left: 20%;
  margin-top: 10%;
}
